body{
    margin: 0;
    border: none;
    font-family: "Poppins", sans-serif;
}

h1{
    margin-top: 20px;
    padding: 10px 2%;
}

#heading{
    display: flex;
    align-items: center;
}

#heading img{
    width: 30px;
    margin-left: 8px;
}

nav{
    display: flex;
    padding: 4px 30px;
    justify-content: space-between;
    align-items: center;
}

nav span{
    width: 12%;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 600;
    color: #03287f;
    line-height: 22px;
}

span #logo{
    font-size: 2vw;
    font-weight: bold;
}

nav .div1{
    width: 88%;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul{
    width: 85%;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul li{
    list-style: none;
    width: 10%;
    font-size: 1.2vw;
}

#btn a{
    color: #fff;
}

nav a{
    color: #474747;
}

ul a:hover{
    font-weight: bold;
    color: #0157c8;
}

.btn-div{
    width: 15%;
    display: flex;
    justify-content: end;
}

#btn{
    padding: 0.6vw 1.1vw;
    border-radius: 5px;
    font-size: 1.4vw;
    transition: 0.4s;
    background: #903dfd;
    color: #fff;
    border: transparent;
    cursor: pointer;
}

#btn:hover{
    background: #a763ff;
    font-weight: normal;
}

/* main-section */
main img{
    border-radius: 1px;
    width: 94%;
    margin: 0 3%;
    border-radius: 5px;
}

/* courses-section */
.courses{
    width: 96%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course{
    width: 30%;
    margin-top: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 9px #8c98b4;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
}

.course:hover{
    box-shadow: 5px 5px 12px #8b99bb;
}

.course img{
    width: 41%;
    height: 100%;
    margin: 0 auto;
    border-radius: 12px 0 0 12px;
}

.course-details{
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.course-details h2{
    color: #3f1ff1;
    font-size: 1.6vw;
}

.course-details p{
    color: #474747;
    font-size: 1vw;
}

/* about-section */
.about-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    padding: 0 20px;
    margin-top: 0;
}

#name{
    color: #3700ff;
}

.about-section div{
    width: 50%;
}

#square1{
    z-index: -1;
    margin-top: -1.9vw;
    right: 60px;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    background: linear-gradient(to right, #4495ff, #3f1ff1);
}

.about-section img{
    width: 90%;
    margin: auto;
    z-index: 10;
    border-radius: 3px;
}

.about-details{
    margin: auto 20px; 
}

.about-details h1{
    font-size: 3vw;
    color: #3f1ff1;
    line-height: 50px;
}

.about-details p{
    width: 90%;
    text-align: justify;
    color: #474747;
    font-size: 1.2vw;
    font-weight: 500;
}

/* founder-section */
.founder-section{
    display: flex;
    flex-direction: row-reverse;
    margin: 90px auto;
}

.founder-section div{
    width: 50%;
    margin: auto;
}

.img-container{
    display: flex;
}

.founder-section img{
    width: 60%;
    margin: auto;
    border-radius: 3px;
}

.founder-details{
    margin: auto 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.founder-details h1{
    font-size: 3vw;
    color: #3f1ff1;
}

.founder-details p{
    width: 80%;
    text-align: justify;
    color: #474747;
    font-size: 1.2vw;
    font-weight: 500;
}

#square2{
    z-index: -1;
    margin-top: 24vw;
    margin-left: 7vw;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    background: linear-gradient(to right, #4495ff, #3f1ff1);
}

/* footer-section */
.footer-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #484f5f;
    color: #fff;
    margin: 0;
    padding: 2%;
    border-radius: 3px 3px 0 0;
}

.footer-section p{
    font-size: 1.1vw;
}

.footer-content{
    display: flex;
    justify-content: space-around;
}

.footer-content div{
    width: 30%;
    margin: auto;
    margin-top: 0;
}

.footer-section span{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #cecbcb;
}

.footer-section #logo{
    color: #ffffff;
    line-height: 25px;
}

.info p{
    text-align: justify;
}

#copyright{
    margin-top: 7vw;
}

table{
    text-align: left;
    width: 90%;
    margin: auto;
}

.footer-content{
    text-align: left;
}

table td{
    padding: 1px;
    padding-left: 0;
}

td img{
    width: 2.3vw;
    padding-top: 3px;
    border-radius: 50%;
    mix-blend-mode: screen;
}

a{
    text-decoration: none;
    font-size: 1.2vw;
}

.footer-content a{
    color: #fff;
}

#address{
    text-transform: capitalize;
}
