body{
    margin: 0;
    border: none;
    font-family: "Poppins", sans-serif;
}

h1{
    margin-top: 20px;
    padding: 2px 4%;
    /* padding: 10px 2%; */
}

#heading{
    display: flex;
    align-items: center;
}

#heading img{
    width: 30px;
    margin-left: 8px;
}

nav{
    display: flex;
    padding: 4px 60px;
    justify-content: space-between;
    align-items: center;
}

nav span{
    width: 14%;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 600;
    color: #110235;
    line-height: 22px;
}

span #logo{
    font-size: 2vw;
    font-weight: bold;
}

nav .div1{
    width: 88%;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul{
    width: 85%;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul li{
    list-style: none;
    width: 10%;
    font-size: 1.2vw;
}

#btn a{
    color: #fff;
}

nav a{
    color: #474747;
    transition: 0.4s;
}

ul a:hover{
    font-weight: bold;
    color: #4292fa;
}

.btn-div{
    width: 15%;
    display: flex;
    justify-content: end;
}

#btn{
    padding: 0.6vw 1.1vw;
    border-radius: 5px;
    font-size: 1.4vw;
    transition: 0.9s;
    background: linear-gradient(to right, #79a6eb, #4183e6);
    color: #fff;
    border: transparent;
    cursor: pointer;
}

#btn:hover{
    background: linear-gradient(to right, #4183e6, #0c60ce);
    font-weight: normal;
}

/* main-section */
main img{
    border-radius: 1px;
    width: 90%;
    margin: 10px 5%;
    border-radius: 5px;
}

#mobile-banner{
    display: none;
}

#web-banner{
    display: block;
}

/* courses-section */
.courses{
    width: 87%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course{
    width: 30%;
    margin-top: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 9px #8c98b4;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
}

.course:hover{
    box-shadow: 5px 5px 12px #8b99bb;
}

.course img{
    width: 41%;
    height: 100%;
    margin: 0 auto;
    border-radius: 12px 0 0 12px;
}

.course-details{
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.course-details h2{
    color: #4183e6;
    font-size: 1.6vw;
}

.course-details p{
    color: #474747;
    font-size: 1vw;
}

/* about-section */
.about-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    padding: 0 20px;
    margin-top: 0;
}

#name{
    color: #4183e6;
}

.about-section div{
    width: 50%;
}

#square1{
    z-index: -1;
    margin-top: -1.9vw;
    right: 60px;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 3px;
    background: linear-gradient(to right, #79a6eb, #4183e6);
}

.about-section img{
    width: 90%;
    margin: auto;
    z-index: 10;
    border-radius: 3px;
    aspect-ratio: 3/1.8;
}

.about-details{
    margin: auto 20px; 
}

.about-details h1{
    font-size: 3vw;
    color: #4183e6;
    line-height: 50px;
}

.about-details p{
    width: 90%;
    text-align: justify;
    color: #474747;
    font-size: 1.2vw;
    font-weight: 500;
}

/* founder-section */
.founder-section{
    display: flex;
    flex-direction: row-reverse;
    margin: 90px auto;
}

.founder-section div{
    width: 50%;
    margin: auto;
}

.img-container{
    display: flex;
}

.founder-section #founder-img-web{
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 3px;
}

.founder-section #founder-img-mob{
    display: none;
}

.founder-details{
    margin: auto 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.founder-details h1{
    font-size: 3vw;
    color: #4183e6;
}

.founder-details p{
    width: 80%;
    text-align: justify;
    color: #474747;
    font-size: 1.2vw;
    font-weight: 500;
}

#square2{
    z-index: -1;
    margin-top: 31vw;
    margin-left: 8vw;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 3px;
    background: linear-gradient(to left, #79a6eb, #4183e6);
}

/* gallery-section */
.gallery-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    row-gap: 2px;
    column-gap: 2px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.gallery-section img{
    width: 260px;
    aspect-ratio: 3/2;
    border-radius: 3px;
    transition: 0.7s;
    border: 7px solid white;
}

.gallery-section img:hover{
    scale: 1.5;
    backdrop-filter: blur(10px);
    border: 7px solid white;
    border-radius: 2px;
}

/* toppers-section */
#topper-poster{
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

#topper-poster img{
    width: 84%;
    border-radius: 9px;
    aspect-ratio: 5.5/2;
    border: 1px solid rgb(175, 175, 175);
}

.toppers-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    row-gap: 2px;
    column-gap: 2px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.toppers-section img{
    width: 260px;
    aspect-ratio: 5/5;
    border-radius: 9px;
    transition: 0.7s;
    border: 7px solid white;
}

/* footer-section */
.footer-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #484f5f;
    color: #fff;
    margin: 0;
    padding: 2%;
    border-radius: 3px 3px 0 0;
}

.footer-section p{
    font-size: 1.1vw;
}

.footer-content{
    display: flex;
    justify-content: space-around;
}

.footer-content div{
    width: 30%;
    margin: auto;
    margin-top: 0;
}

.footer-section span{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #cecbcb;
}

.footer-section #logo{
    color: #ffffff;
    line-height: 25px;
}

.info p{
    text-align: justify;
}

#contact-mob{
    display: none;
}

#contact-web{
    display: block;
}

#copyright{
    margin-top: 7vw;
}

table{
    text-align: left;
    width: 90%;
    margin: auto;
}

.footer-content{
    text-align: left;
}

table td{
    padding: 1px;
    padding-left: 0;
}

td img{
    width: 2.3vw;
    padding-top: 3px;
    border-radius: 50%;
    mix-blend-mode: screen;
}

a{
    text-decoration: none;
    font-size: 1.2vw;
}

.footer-content a{
    color: #fff;
}

#address{
    text-transform: capitalize;
}


@media screen and (max-width: 760px) {
    body{
        overflow-x: hidden;
    }
    /* navbar */
    nav{
        padding: 3px 5px;
    }

    nav span{
        width: 20%;
        font-size: 1.6vw;
        line-height: 10px;
    }

    span #logo{
        font-size: 4.5vw;
    }

    nav .div1{
        width: 80%;
    }

    nav ul{
        width: 85%;
    }

    nav ul li{
        width: 17%;
        font-size: 1.9px;
    }

    a{
        font-size: 1.8vw;
    }

    .btn-div{
        width: 20%;
    }

    #btn{
        font-size: 1.9vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.9vw 1.8vw;
    }

    /* main-section */
    main img{
        width: 80%;
        margin: auto;
        border-radius: 0;
    }

    #mobile-banner{
        display: block;
        aspect-ratio: 3/1.3;
    }
    
    #web-banner{
        display: none;
    }
    
    #heading{
        font-size: 4vw;
        margin-left: 5vw;
    }

    #heading img{
        width: 15px;
    }

    /* about-section */
    .about-section{
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .about-section div{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-section img{
        width: 90%;
        margin: 0 auto;
    }

    .about-details{
        align-items: center;
    }

    .about-details p{
        width: 99%;
    }

    #square1{
        width: 40px;
        height: 40px;
        right: 10.8vw;
        margin-top: -39vw;
    }

    #br{
        display: none;
    }

    .about-details h1{
        line-height: normal;
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-details p{
        font-size: 3vw;
    }

    /* founder-section */
    .founder-section{
        flex-direction: column-reverse;
        width: 99%;
        margin: auto;
    }

    .founder-section div{
        width: 99%;
        margin: auto;
    }

    .founder-section #founder-img-web{
        display: none;
    }

    .founder-section #founder-img-mob{
        display: block;
        width: 50%;
        margin: auto;
        overflow: hidden;
        border-radius: 3px;
    }

    #square2{
        width: 40px;
        height: 40px;
        margin-top: -2vw;
        margin-left: 22vw;
    }

    .founder-details{
        width: max-content;
        margin: auto;
    }

    .founder-details h1{
        line-height: normal;
        display: flex;
        justify-content: center;
        font-size: 4vw;
    }

    .founder-details p{
        font-size: 3vw;
        width: 83%;
        margin: auto;
    }

    /* courses-section */
    .courses{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .course{
        width: 45%;
        margin-top: 10px;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #bec8df;
    }

    .course:hover{
        box-shadow: 2px 2px 7px #a9b1c2;
    }

    .course img{
        border-radius: 3px 0 0 3px;
    }

    .course-details{
        padding-left: 3px;
        padding-right: 3px;
    }

    .course-details h2{
        font-size: 2.3vw;
    }
    
    .course-details p{
        font-size: 1.9vw;
    }

    /* gallery-section */
    .gallery-section{
        width: 95%;
        row-gap: 5px;
        column-gap: 5px;
    }

    .gallery-section img{
        width: 150px;
    }

    .gallery-section img:hover{
        scale:1;
    }

    /* toppers-section */
    #topper-poster{
        margin-bottom: 20px;
    }

    #topper-poster img{
        border-radius: 3px;
    }
    
    .toppers-section{
        width: 95%;
        row-gap: 5px;
        column-gap: 5px;
        margin-bottom: 20px;
    }

    .toppers-section img{
        width: 150px;
    }

    /* footer-section */
    .info{
        display: none;
    }

    .footer-content{
        flex-direction: column;
    }

    .footer-content div{
        width: 90%;
        margin: auto;
    }

    .footer-section h3{
        font-size: 3vw;
    }

    .footer-section p{
        font-size: 2.5vw;
    }

    #contact-web{
        display: none;
    }
    
    #contact-mob{
        display: block;
    }

    table{
        width: 100%;
    }

    table td{
        font-size: 2.5vw;
    }

    td img{
        width: 6vw;
    }

    #copyright{
        margin-top: 3vw;
        font-size: 1.9vw;
    }

    .footer-section a{
        font-size: 2.5vw;
    }
}